variant: fcos
version: 1.6.0
storage:
  directories:
    - path: /var/adguardhome
      mode: 0744
    - path: /var/adguardhome/conf
      mode: 0744
    - path: /var/adguardhome/work
      mode: 0740
  files:
    # ################################ Network ################################
    - path: /etc/containers/systemd/adguardhome-macvlan.network
      contents:
        inline: |
          [Unit]
          Description=AdGuardHome MacVLAN

          [Network]
          NetworkName=adguardhome-macvlan
          Driver=macvlan
          Options=parent={{ adguardhome.macvlan.interface }}
          Subnet={{ adguardhome.macvlan.subnet }}
          Gateway={{ adguardhome.macvlan.gateway }}
    # ----------------------------- MacVLAN Proxy -----------------------------
{% if adguardhome.enable_host_proxy is true %}
    - path: /etc/systemd/network/adguardhome-proxy.netdev
      contents:
        inline: |
          [NetDev]
          Name=adguardhome-proxy
          Kind=macvlan

          [MACVLAN]
          Mode=bridge
    - path: /etc/systemd/network/adguardhome-proxy.network
      contents:
        inline: |
          [Match]
          Name=adguardhome-proxy

          [Network]
          Address={{ adguardhome.host_proxy }}
          Gateway={{ adguardhome.macvlan.gateway }}
{% endif %}
    # ############################### Container ###############################
    - path: /etc/containers/systemd/adguardhome.container
      contents:
        inline: |
          [Unit]
          Description=AdGuardHome
          Wants=network-online.target
          After=network-online.target adguardhome-macvlan.network

          [Container]
          ContainerName=adguardhome
          Image={{ adguardhome.image }}
          AutoUpdate=registry
          Network=adguardhome-macvlan.network
          IP={{ adguardhome.ip }}
          AddCapability=NET_ADMIN NET_RAW NET_BIND_SERVICE

          Volume=/var/adguardhome/work:/opt/adguardhome/work:Z
          Volume=/var/adguardhome/conf:/opt/adguardhome/conf:Z

          [Service]
          TimeoutStartSec=300
          Restart=always
          RestartSec=10

          [Install]
          WantedBy=default.target

