variant: fcos
version: 1.6.0
storage:
  directories:
    - path: /var/wg_easy
      mode: 0744
  files:
    # ############################ Kernel modules #############################
    - path: /etc/modules-load.d/wg_easy.conf
      contents:
        inline: |
          wireguard
          nft_masq
    # ############################### Container ###############################
    - path: /etc/containers/systemd/wg_easy.container
      contents:
        inline: |
          [Unit]
          Description=WireGuard Easy
          Wants=network-online.target
          After=network-online.target

          [Container]
          ContainerName=wg_easy
          Image={{ wg_easy.image }}
          AutoUpdate=registry
          PublishPort={{ wg_easy.wg_port }}:{{ wg_easy.wg_port }}/udp
          PublishPort={{ wg_easy.http_port }}:{{ wg_easy.http_port }}/tcp

          Environment=INSECURE=true
          Environment=PORT={{ wg_easy.http_port }}

          Environment=INIT_ENABLED=true
          Environment=INIT_USERNAME={{ wg_easy.username }}
          Environment=INIT_PASSWORD={{ wg_easy.password }}
          Environment=INIT_HOST={{ wg_easy.host }}
          Environment=INIT_PORT={{ wg_easy.wg_port }}
          
          # Not supported as of wg-easy v15.1 but seems work in progress:
          #Environment=WG_POST_UP={% raw %}nft add table inet wg_table; nft add chain inet wg_table prerouting { type nat hook prerouting priority 100 \; }; nft add chain inet wg_table postrouting { type nat hook postrouting priority 100 \; }; nft add rule inet wg_table postrouting ip saddr {{ipv4Cidr}} oifname {{device}} masquerade; nft add rule inet wg_table postrouting ip6 saddr {{ipv6Cidr}} oifname {{device}} masquerade; nft add chain inet wg_table input { type filter hook input priority 0 \; policy accept \; }; nft add rule inet wg_table input udp dport {{port}} accept; nft add rule inet wg_table input tcp dport {{uiPort}} accept; nft add chain inet wg_table forward { type filter hook forward priority 0 \; policy accept \; }; nft add rule inet wg_table forward iifname "wg0" accept; nft add rule inet wg_table forward oifname "wg0" accept;{% endraw %}
          #Environment=WG_POST_DOWN=delete table inet wg_table

          Volume=/var/wg_easy:/etc/wireguard:Z

          AddCapability=NET_ADMIN
          AddCapability=SYS_MODULE
          AddCapability=NET_RAW
          Sysctl=net.ipv4.ip_forward=1
          Sysctl=net.ipv4.conf.all.src_valid_mark=1
          Sysctl=net.ipv6.conf.all.disable_ipv6=0
          Sysctl=net.ipv6.conf.all.forwarding=1
          Sysctl=net.ipv6.conf.default.forwarding=1

          [Install]
          WantedBy=default.target


